@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Roboto:wght@700&display=swap");

body {
  margin: 0;
  position: absolute;
  font-family: "Poppins", sans-serif;
}
* {
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
[class^="col"] {
  padding: 0 0.5rem;
}
.col {
  flex: 1 1 0;
}
.col-1 {
  flex: 0 0 8.333333%;
}
.col-2 {
  flex: 0 0 16.666666%;
}
.col-3 {
  flex: 0 0 25%;
}
.col-4 {
  flex: 0 0 33.333333%;
}
.col-5 {
  flex: 0 0 41.666666%;
}
.col-6 {
  flex: 0 0 50%;
}
.col-7 {
  flex: 0 0 58.333333%;
}
.col-8 {
  flex: 0 0 66.666667%;
}
.col-9 {
  flex: 0 0 75%;
}
.col-10 {
  flex: 0 0 83.333333%;
}
.col-11 {
  flex: 0 0 91.666667%;
}
.col-12 {
  flex: 0 0 100%;
}
.navbar {
  display: flex;
  margin: 2rem;
}
.navbar ul {
  display: flex;
  margin-left: 7rem;
}
.navbar ul li {
  list-style-type: none;
}
.navbar li a {
  text-decoration: none;
  color: #404242;
  font-size: 23px;
  line-height: 33px;
  font-weight: 400;
  padding: 2rem;
}
.navbar li a:hover {
  color: #58a9a5;
  border-bottom: 4px solid #fec62d;
  transition: 0.2s;
}
.navbar img {
  margin: 7px;
}
.navbar h2 {
  font-weight: 800;
  color: #58a9a5;
}
.navbar button {
  color: white;
  background-color: #58a9a5;
  border: none;
  border-radius: 15px;
  padding: 0.2rem 2rem;
  font-weight: 500;
  font-size: 20px;
  line-height: 37px;
  position: relative;
  display: inline-block;
  margin-left: 7rem;
}

header {
  margin: 2rem;
}
header h1 {
  font-weight: 800;
  font-size: 50px;
  line-height: 85px;
}
header p {
  color: #404242;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.btn-2{
  font-weight: 700;
}
.design {
  position: absolute;
  height: 600px;
  background: #ccf0e6;
  border-radius: 120px;
  margin: 1rem 2rem;
}
